/* Aula 16 Virtual  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #ececec;
}

main {
    width: 100%;
    height: 100%;
    padding: 1rem; /* espacamento interno */
}

section {
    width: 400px;
    /* height:400px; */
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 2.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 20px;
    border: 3px solid black;
}

.conteudo ::-webkit-input-placeholder{
    color: #673ab7;
    font-weight: 700;
}
.conteudo input{
    text-align: center;
    margin: 10px;
    width: 180px;
    height: 25px;
    border-radius: 8px;
    padding:10px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #673ab7;
    margin: 10px 0 15px 0; 
}

.centro {
    margin-top: 0.625rem;
    text-align: center;
}

#imgDado {
    width: 200px;
}

#resp{
    text-align:justify;
    margin: 30px;
    color: #fff;
    text-transform: capitalize;
}

#btnSortear, #btnlimpar{
    padding: 7px;
    border: 3px solid black;
    border-radius: 5px;
    background: #673ab7;
    color: #fff;
    cursor: pointer;
   
}

#btnSortear:hover {
    box-shadow: 1px 1px 5px blueviolet;
}

#sorteado {
    background: #311b92;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    margin-bottom: 0.45rem;
}

/* movendo o dado */
@keyframes mover {
    0% {
        transform: translateY(0px); /* mover no eixo Y vertical */
        transform: rotate(45deg);   /* rotacionar 90 graus */
        opacity: 0; /* opacidade 0 = 100% transparente */
       }
    50% {
        transform:scale(50%); /* mudar tamanho para 50% */
    }
    100% {
        transform: translateY(-15px);  /* mover no eixo Y vertical */
        transform: rotate(-45deg);     /* rotacionar -90 graus */
        opacity: 1; /* opacidade 1 = 0% transparente */
    }
}

@keyframes aparecer {
    to {
        opacity: 0; /* opacidade 0 = 100% transparente */
    }
    from {
        opacity: 1; /* opacidade 1 = 0% transparente */
    }
}

.animar {
    animation: mover 0.5s infinite alternate;
    /*
    animation: mover .5s infinite alternate;
    animation: mover .5s linear infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

.aparecer {
    animation: aparecer 1.5s ease-in;
}
